.search-toolbar { margin-bottom:10px; }
.searchpanel-body .col-logic { padding-right:0; }
.searchpanel-body .searchfield-delete { margin-top:-14px; }
.searchpanel-body .searchfield-delete:hover { color:#f66; cursor:pointer; }
.searchpanel { height:150px; }
.searchfield { margin-bottom:10px; width:100%; }
.searchlogic { margin-bottom:10px; }
.searchfield.haslogic { margin-left:5px; width:262px; }
.criteria { cursor:pointer; }
select[multiple].enum_choices { height:75px; }
#search_results .table-hover tr { cursor:pointer; }
