#banner {
    width: 100%;
    float: left
    }
#banner .BannerSlide {
    float: left;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #FFF;
    border-left: 15px solid #a34218;
    border-right: 15px solid #a34218;
    border-bottom: 11px solid #a34218;
    border-top: 11px solid #a34218;
    margin-right: 26px
    }
#middle {
    width: 908px;
    float: left;
    padding: 23px 0 0 14px
    }
#middle .left {
    float: left;
    width: 307px;
    height: 123px;
    background: url(mid_left_bg.jpg) repeat-x left top;
    border: solid 6px #fff;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 60px;
    line-height: 33px;
    letter-spacing: 1px
    }
#middle .right {
    float: right;
    width: 554px;
    border: solid 6px #fff;
    line-height: 17px;
    text-align: justify;
    padding: 7px 6px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000
    }
#middle .midcont {
    float: left;
    width: 924px;
    padding: 32px 0
    }
#middle .midcont .intro-head {
    float: left;
    width: 319px;
    background-color: #8d3115;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    padding-top: 10px
    }
#middle .midcont .intro {
    float: left;
    width: 789px;
    padding: 10px 0 15px 126px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #323131
    }
#middle .midcont .intro ul li {
    float: left;
    background: url(icon.png) left top no-repeat;
    list-style: none
    }
#middle .midcont .intro ul li {
    float: left;
    background: url(icon.png) left top no-repeat;
    list-style: none;
    padding-top: 5px;
    width: 600px;
    padding-left: 20px
    }
#middle .midcont .get_started {
    float: left;
    width: 924px;
    background: url(get_started_bg.png) left top repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    padding: 15px 0 32px 0;
    cursor: pointer
    }
#middle .midcont .upload-box {
    background: none repeat scroll 0 0 #FF9D20;
    border: 1px solid #CA7000;
    border-radius: 9px 9px 9px 9px;
    bottom: 288px;
    box-shadow: 1px 1px 3px #CA7000;
    display: none;
    padding: 32px 0 15px 261px;
    position: fixed;
    width: 664px;
    z-index: 100
    }
.upload-box .close-button {
    background: url(close-button.png) repeat scroll -4px -4px transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: -23px;
    top: -20px;
    width: 32px
    }
#middle .midcont .filmain {
    float: left;
    width: 678px
    }
#middle .midcont .fild {
    float: left;
    width: 213px;
    padding: 0 0 0 0
    }
#middle .midcont .fild .input {
    float: left;
    width: 215px;
    background: url(input_bg.png) left top no-repeat;
    padding: 2px 4px;
    border: none;
    height: 26px
    }
#middle .upload-button {
    float: left;
    width: 78px
    }
.upload-button-background {
    float: left;
    width: 75px;
    background: url(bnt.png) left top no-repeat;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border: none
    }
