body {
    margin: 0;
    padding: 0;
    background: #FF8B08 url(body_bg.jpg) repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: normal
    }
img {
    border: 0
    }
.overlight {
    background: none repeat scroll 0 0 black;
    display: none;
    height: 100%;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    z-index: 10
    }
#layout {
    width: 990px;
    margin: auto
    }
#header {
    width: 100%;
    float: left
    }
#header .logo {
    width: 388px;
    height: 77px;
    float: left;
    background: url(logo_bg.png) no-repeat left top;
    padding-left: 68px;
    padding-top: 30px
    }
#header .right_menu {
    background-color: #8d3115;
    margin-right: 41px;
    float: right;
    margin-top: 13px;
    padding: 0 7px
    }
#header .right_menu ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none
    }
#header .right_menu ul li {
    float: left;
    background: url(red_line.jpg) no-repeat right center;
    line-height: 28px;
    color: #fefefe;
    padding: 0 6px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 11px
    }
#header .right_menu ul li a {
    color: #fefefe;
    text-decoration: none
    }
#header .right_menu ul li a:hover {
    color: #fefefe;
    text-decoration: underline
    }
#menu {
    width: 938px;
    float: left;
    margin: 0 26px;
    background: url(menu_bg.png) repeat-x left top;
    height: 66px
    }
#menu ul {
    width: 100%;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: url(menu_left-bg.jpg) no-repeat left top;
    height: 66px
    }
#menu ul li {
    float: left;
    background: url(menu_right_line.jpg) no-repeat right top;
    width: auto;
    padding: 0 24px 0 24px;
    font-size: 14px;
    line-height: 62px;
    text-align: center
    }
#menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    background: url(arrow.png) no-repeat bottom;
    text-transform: uppercase;
    text-align: center
    }
#menu ul li a:hover {
    text-decoration: none;
    color: #fff;
    display: block;
    background-image: none;
    text-transform: uppercase
    }
#main_content {
    width: 908px;
    float: left;
    margin: 0 26px;
    }
#footer {
    float: left;
    width: 941px;
    background: url(foote_bg.png) left top repeat-x;
    height: 38px;
    margin: auto;
    margin-top: 20px;
    padding-top: 43px;
    margin-left: 26px;
    text-align: center;
    color: #FFF
    }
#footer a {
    color: #FFF;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px
    }
